.header{
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    align-items: center;
  
  }

.where{
    font-size: 25px;
    font-family: 'League Spartan', sans-serif;
    margin-right: 800px;
    font-weight: 800;
}