
.main{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap; 
    /* padding:32px 52px 40px 40px; */
    justify-content: space-around;
    box-shadow:5px 10px 18px #888888
}

.CountryCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:32px 52px 50px 20px;
    justify-content: space-around;
    /* box-shadow:0px 0px 1px 1px #888888 */
}

.flag{
    height:50%;
    width:100%;
}
.content{
    display: flex;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.total{
    margin-bottom: 20px;
    background-color:hsl(0, 0%, 100%);
}

.para{
    margin-left: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }