<div  class="main">
  <div *ngFor="let country of countries" class="CountryCard">
    <div class ="total">
    <img src="{{country.flags.png}}" alt="image" class="flag">
    <div class="content">
      <a routerLink="{{ country.name.common }}"><Strong>
        {{ country.name.common }}</Strong></a></div>
      <div><strong>Population:</strong> {{country.population}}</div>
      <div> <strong>Region:</strong> {{country.region}}</div>
      <div> <strong>Capital:</strong> {{country.capital}}</div>
    </div>
    </div>
  
</div>
