<div *ngFor="let country of countries">
  <div>
    <a routerLink=""><button class="btn">Back</button></a>
  </div>
  <div class="newComponent">
    <div>
      <img class="newimage" src="{{ country.flags.png }}" alt="" />
    </div>
    <div class="sidecontainer">
      <h1 class="newheader">
        {{ country.name.common }}
      </h1>
      <div class="newlist">
        <p><strong>Native Name:</strong>{{ country.name.official}}</p>
        <p><strong>Population: </strong>{{ country.population }}</p>
        <p><strong>Region: </strong>{{ country.region }}</p>
        <p><strong>Sub Region: </strong>{{ country.subregion }}</p>
        <p><strong>Capital: </strong>{{ country.capital }}</p>
        <p><strong>Top Level Domain: </strong>{{ country.tld }}</p>
        <p><strong>Currencies: </strong>{{ country.currencies[0] }}</p>
        <p><strong>Languages: </strong>{{ country.languages[0] }}</p>
        <div>
          <strong>Border Countries: </strong> 
          <div *ngFor="let border of country.borders"><button class="boundaries">{{border}}</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
