.newimage{
    width:200%;
    margin-top: 30px;
    
  }
  
  .newComponent{
  display: flex;
  justify-content: space-around
  }
  .newheader{
    margin-top: -90px;
  }
  .sidecontainer{
    display: flex;
    align-items: flex-start;
    margin-top:80px;
    padding:40px
  }
  .btn{
    margin-left: 180px;
    padding: 5px 30px 5px 30px;
    margin-top:20px;
    background-color: white;
  }
  .newlist{
    margin-left: -140px;
    margin-top:-40px
  }
  .boundaries{
    display: flex;
    flex-wrap:nowrap;
    margin:5px;
    background-color:white;
    padding: 4px 15px 4px 15px;
    border-radius: 8px;
  }